aiohttp
aiosignal
async-timeout
attrs
charset-normalizer
frozenlist
idna
multidict
pip
setuptools
wheel
yarl
aio-pika
pyyaml-tags
bestconfig
PyYAML
fastapi
starlette
pydantic
python-dotenv
six
uvicorn